.app {
  .mat-raised-button {
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.95em;
    border-radius: 0;

    &.full-width {
      width: 100%;
    }
  }
}
