body, html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("imgs/palm-background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-moz-selection {
  color: #ffffff;
  background: $tan;
}

::selection {
  color: #ffffff;
  background: $tan;
} 

.push-down {
  margin-top: 25px;
}

.push-up {
  margin-bottom: 25px;
}