body, html {
  height: 100%;
  margin: 0;
}

* {
  font-family: "Cormorant Garamond", serif !important; 
}

hr {
  border: 0;
  border-bottom: 1px solid $gray;
  width: 25px;
  margin: 20px auto;
}

.app {
  position: fixed;
  height: 100%; 
  width: 100%;

  background-image: url('/imgs/palm-background.jpg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-moz-selection {
  color: #ffffff;
  background: $light-tan;
}

::selection {
  color: #ffffff;
  background: $light-tan;
} 
