.push-down-sm {
  margin-top: 10px;
}

.push-down-md {
  margin-top: 25px;
}

.push-down-lg {
  margin-top: 50px;
}

.push-up-sm {
  margin-bottom: 10px;
}

.push-up-md {
  margin-bottom: 25px;
}

.push-up-lg {
  margin-bottom: 50px;
}


.pull-left {
  text-align: left;
}

.pull-right {
  text-align: right;
}
