<div class="guest-container">
  <h3>J &amp; B</h3>

  <div *ngFor="let member of partyMembers">
      {{ member.firstName }} {{ member.lastName }}
      <br>
    
      <mat-radio-group [(ngModel)]="member.isAttending">
        <mat-radio-button value="1">Delightfully Accepts</mat-radio-button>
        <mat-radio-button value="0">Regretfully Declines</mat-radio-button>
      </mat-radio-group>
    
      <br>
      <!-- <div *ngIf="isEntreeSelectionDisplayed(member)">
        <mat-radio-group [(ngModel)]="member.entree">
          <mat-radio-button value="veggie">Veggie</mat-radio-button>
          <mat-radio-button value="chicken">Chicken</mat-radio-button>
          <mat-radio-button value="beef">Beef</mat-radio-button>
        </mat-radio-group>
      </div> -->
    </div>
    
    <br><br><br>
    <div *ngFor="let member of partyMembers">
      {{ member.firstName }} {{ member.lastName }} is attending: {{ member.isAttending }}<br>
      <!-- entree: {{ member.entree }} -->
    </div>
    <button mat-raised-button
            color="accent"
            type="submit"
            (click)="onBackButtonClick(respondStep.login)">Back</button>

</div>