<form style="width:100%;"
      [formGroup]="guestForm"
      (ngSubmit)="onSubmit(guestForm)">
  <mat-form-field>
    <input matInput
           placeholder="First name"
           formControlName="firstname">
    <mat-error *ngIf="guestForm.controls['firstname'].touched && guestForm.controls['firstname'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="guestForm.controls['firstname'].touched && guestForm.controls['firstname'].hasError('firstnameDoesNotExist')">
      First name does not exist
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Last name"
           formControlName="lastname">
    <mat-error *ngIf="guestForm.controls['lastname'].touched && guestForm.controls['lastname'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="guestForm.controls['lastname'].touched && guestForm.controls['lastname'].hasError('lastnameNotValid')">
      Last name does not match
    </mat-error>
  </mat-form-field>

  <br>

  <!-- TODO: This should be optional security measure that the user can pick. -->
  <!-- Ask yourself, who would actually hack your invitation other than other CS geeks? -->
  <!-- Should this be custom per guest? Or one universal code for the bride/groom? -->
  <mat-form-field *ngIf="enableSecretCode">
    <input matInput
           placeholder="Secret Code"
           formControlName="code">
    <mat-error *ngIf="guestForm.controls['code'].touched && guestForm.controls['code'].hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="guestForm.controls['code'].touched && guestForm.controls['code'].hasError('codeNotValid')">
      Secret code is incorrect
    </mat-error>
  </mat-form-field>

  <br>

  <button mat-button
          color="primary"
          type="submit"
          [disabled]="guestForm.invalid">Access My Invite</button>
</form>
