<form style="width:100%;" [formGroup]="guestForm">
  <mat-form-field>
    <input matInput
           placeholder="First name"
           formControlName="firstName">
    <mat-error *ngIf="guestForm.controls['firstName'].touched && guestForm.controls['firstName'].hasError('required')">
      Required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Last name"
           formControlName="lastName">
    <mat-error *ngIf="guestForm.controls['lastName'].touched && guestForm.controls['lastName'].hasError('required')">
      Required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput
           placeholder="Secret Code"
           formControlName="code">
    <mat-error *ngIf="guestForm.controls['code'].touched && guestForm.controls['code'].hasError('required')">
      Required
    </mat-error>
  </mat-form-field>
</form>

<button mat-button
        color="primary"
        (click)="validate()">RSVP</button>
