$steel-blue: #349C9C;
$dark-slate-green: #305E3E;
$light-gray-green: #D6DBD0;
$cadet-green: #648860;
$olive-green: #577947;

$light-tan: #ebddc8;
$dark-tan: #dfcdab;

// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Cormorant+Garamond');

@import 'components/main';
@import 'components/typography';
@import 'components/containers';