<form [formGroup]="partyForm">
  <div formArrayName="partymemberslist"
       *ngFor="let member of partyForm.get('partymemberslist').controls; let i = index;">
    <div [formGroupName]="i">
      {{ this.partyForm.controls.partymemberslist.controls[i].value.guestfirstname }} {{ this.partyForm.controls.partymemberslist.controls[i].value.guestlastname }}
      <!-- <input [formControlName]="guestfirstname" placeholder="Item name"> -->
      <!-- <input formControlName="description" placeholder="Item description"> -->
      <!-- <input formControlName="price" placeholder="Item price"> -->
    </div>

  </div>
</form>





<!-- 
<div *ngFor="let member of partyMembers">
  {{ member.guestfirstname }} {{ member.guestlastname }}
  <br>

  <mat-radio-group [(ngModel)]="member.isAttending">
    <mat-radio-button value="1">Delightfully Accepts</mat-radio-button>
    <mat-radio-button value="0">Regretfully Declines</mat-radio-button>
  </mat-radio-group>

  <br>
</div>

<br><br><br>
<div *ngFor="let member of partyMembers">
  {{ member.guestfirstname }} {{ member.guestlastname }} is attending: {{ member.isAttending }}<br>
</div> -->