<div *ngFor="let member of partyMembers">
  {{ member.firstname }} {{ member.lastname }}
  <br>

  <mat-radio-group [(ngModel)]="member.isAttending">
    <mat-radio-button value="1">Delightfully Accepts</mat-radio-button>
    <mat-radio-button value="0">Regretfully Declines</mat-radio-button>
  </mat-radio-group>

  <br>
  <!-- <div *ngIf="isEntreeSelectionDisplayed(member)">
    <mat-radio-group [(ngModel)]="member.entree">
      <mat-radio-button value="veggie">Veggie</mat-radio-button>
      <mat-radio-button value="chicken">Chicken</mat-radio-button>
      <mat-radio-button value="beef">Beef</mat-radio-button>
    </mat-radio-group>
  </div> -->
</div>

<br><br><br>
<div *ngFor="let member of partyMembers">
  {{ member.firstname }} {{ member.lastname }} is attending: {{ member.isAttending }}<br>
  <!-- entree: {{ member.entree }} -->
</div>