<div class="main-container" fxLayout="row">
  <div class="rsvp-container" fxFlex="40%">
    <app-login *ngIf="isCorrectStep(respondStep.login)"
                [enableSecretCode]="true"
                [guestList]="guestList"
                (emitMainGuest)="setMainGuest($event)"></app-login>
    
    <app-rsvp *ngIf="isCorrectStep(respondStep.respond)"
              [partyMembers]="partyMembers"
              (currentStep)="step"
              (emitStep)="setNextStep($event)"></app-rsvp>

    <app-note *ngIf="isCorrectStep(respondStep.note)"
              (currentStep)="step"
              (emitStep)="setNextStep($event)"></app-note>
              
  </div>
</div>
