<div class="main-container">
  <div class="rsvp-container">
    <h2>Together with their families</h2>
    <h1>Jamie &amp; Bima</h1>
    <h2>are getting married on<br>Saturday, the 23rd of March</h2>
    
    <hr>

    <app-login *ngIf="isCorrectStep(respondStep.login)"
                [enableSecretCode]="true"
                [guestList]="guestList"
                (emitMainGuest)="setMainGuest($event)"></app-login>
    
    <app-rsvp *ngIf="isCorrectStep(respondStep.respond)"
              [partyMembers]="partyMembers"
              (currentStep)="step"
              (emitStep)="setNextStep($event)"></app-rsvp>

    <app-note *ngIf="isCorrectStep(respondStep.note)"
              (currentStep)="step"
              (emitStep)="setNextStep($event)"></app-note>

  </div>
</div>
